body{
    background-color: white;
}


.grid-container {
    min-height: 200vh;
    display: grid;
    grid-template-columns: 10vw 1fr 2fr 10vw;
    grid-template-rows: 10vh 40vh 1fr;
    grid-template-areas: 
    "nav . . . nav nav nav nav"
    ". prof-pic prof-info ."
    ". posts posts .";
    row-gap: 3vh;
}

.grid-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 40vh 10vh;
    grid-template-areas: 
    "posts posts"
    "prof-info prof-pic"
    "nav nav";
    row-gap: 3vh;
}


    .grid-container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 10vw 1fr 2fr 10vw;
        grid-template-rows: 10vh 40vh 1fr;
        grid-template-areas: 
        "nav nav nav nav"
        ". prof-pic prof-info ."
        ". posts posts .";
        row-gap: 3vh;
    }


.area-border {
    border: 2px solid black;
}

.nav {
    grid-area: nav;
    background-color: black;
    position: sticky;
    top: 0;
}
.nav-links{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links > a {
    color: white;
    text-decoration: none;
}

.nav-links > a:hover{
    font-size: larger;
    text-decoration: underline;
}

.prof-pic {
    display: flex;
    grid-area: prof-pic;
    align-self: stretch;
}
.img-container {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}

#prof-img {
    max-height: auto;
    object-fit: contain;
    width: 150%;
    display: flex;
}
.prof-info {
    grid-area: prof-info;
}

.info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.posts{
    grid-area: posts;
}
.post-card {
    background-color: white;
    padding: 1em;
    margin-bottom:  1vh;
    margin-right: 10px;
}

.post-card > p {
    margin: 2vh 0;
}

.post-links {
    display: flex;
    justify-content: space-around;
}
.post-links > a{ 
    color: black;
    text-decoration: none;
}

.post-links > a:hover{
text-decoration: underline;    
}

